<div class="container" id="home-container">
  <div id="page-content">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">There's a reason you're here</h1>
      <p class="lead">There are a lot of things I should have taken care of but for any number of reasons - I just did not.</p>
      <hr class="my-4">
      <p>I built this webpage for a Ruby on Rails course I took a few months ago.  It's very basic but it serves as a minimally viable product (not to sell, just to privately and securely provide me with a means to an end.</p>
      <%= link_to "I have the passphrase and I'm ready to signin", signup_path, class: "btn btn-success btn-lg important" %>
    </div>
  </div>
</div>

